<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div class="m-32">
        <h1>Home</h1>
        <button><a class="file-btn" href="/admin/generate-file">Generate File</a></button>
        <% if (file) { %>
            <div style="display: flex;">
                <p>Download Generated File:</p>
                <a class="m-16" href="/admin/download-file">click here</a>
            </div>
        <% } else { %>
            <p>Click on the generate file button to generate file with random objects</p>
        <% } %>
            <% if(file) {%>
            <button><a class="file-btn" href="/admin/report-file">Report</a></button>
            <p>Click on the report button to view generated file report</p>
            <% } else { %>
                
            <% } %>
        <% if (file && report) { %>
            <ul>
                <li>Alphabetical String: <%= report.AlphabeticalString %></li>
                <li>Integer Number: <%= report.Integer %></li>
                <li>Real Number: <%= report.RealNumber %></li>
                <li>AlphaNumeric: <%= report.AlphaNumeric %></li>
            </ul>
        <% } else { %>

        <% } %>
    </div>
    

<%- include('includes/end.ejs') %>